In [1]:
import pandas as pd
import numpy as np

In [20]:
raw_data=pd.read_csv('raw_data.csv')

In [21]:
raw_data.sample(2)

,_id,customer,amountbreakup_final_total
20,60dbd8f43655fd3b5986fe05,5e02d5bd18576832ff7bc365,47.0
36,60dbd8f83655fd3b5986fe06,5d577c41bde10e0d5442a5b5,79.0

In [15]:
import datetime as dt
def loggg(f):
    def wrapper(df, *args, **kwargs):
        tic=dt.datetime.now()
        result=f(df,*args,**kwargs)
        toc=dt.datetime.now()
        print(f"{f.__name__} took {toc-tic}, shape :{result.shape}")
        print(f"unique customers :{result['customer'].nunique()}")
        return result
    return wrapper

@loggg
def start_pipeline(df):
    """avoid master frame mutation"""
    return df.copy()

@loggg
def rename_columns(records):
    records.columns=[x.replace(' ','') for x in records.columns]
    records=records.rename(columns={
        '_id':'orderid',
        'amountbreakup_final_total':'amount'
    })
    return records

@loggg
def remove_outliers_for_cont_vars(records,continuous_cols=None):
    return records.sample(frac=0.95)

In [16]:
result_data=(raw_data
 .pipe(start_pipeline)
 .pipe(rename_columns)
 .pipe(remove_outliers_for_cont_vars)        
)

start_pipeline took 0:00:00.000101, shape :(50, 3)
unique customers :47
rename_columns took 0:00:00.000546, shape :(50, 3)
unique customers :47
remove_outliers_for_cont_vars took 0:00:00.000271, shape :(48, 3)
unique customers :45

In [12]:
raw_data.sample()
result.sample()

                     orderid                  customer  amount
49  60dbd8fc6971c84db6634f4d  5c74f2f4ec5aeb2b936e6a22   117.0